body {
    font-family: "Ubuntu";
  }
  .logo-container {
    text-align: center;
  }
  .logo-img {
    max-width: 300px; /* Adjust the size as needed */
  }
  .navbar {
    background-color: #f8f9fa; /* Light background color */
    padding: 5px 15px; /* Adjusted padding */
    margin: 0px;
  }
  .navbar-brand {
    font-size: 20px; /* Adjusted font size */
    color: #212529; /* Text color */
  }
  .navbar-nav .nav-link {
    font-size: 16px; /* Adjusted font size */
    color: #212529; /* Text color */
  }
  .logo-img {
    width: 100%; /* Ensure logo width fills the container */
    max-width: 200px; /* Set max width for the logo */
  }